<ion-header [translucent]="true">
  <ion-toolbar>
    <div routerLink="/search" class="title-bar" fxLayoutAlign="start center" fxLayoutGap="10px">
      <ion-icon name="arrow-back"></ion-icon>
      <span>Back</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content" fxLayout="row">
    <div *ngIf="$item | async" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start start">
        <h1>{{ ($item | async)?.Title }}</h1>
        <span>{{ ($item | async)?.Year }}</span>
      </div>
      <img [src]="($item | async)?.Poster" />
      <div fxLayoutAlign="start start" fxLayout="column" fxLayoutGap="10px">
        <div>{{ ($item | async)?.Plot }}</div>
        <div fxLayoutGap="10px">
          <ion-icon name="star-half"></ion-icon>
          <span>{{ ($item | async)?.imdbRating }}</span>
        </div>
        <div fxLayoutGap="10px">
          <ion-icon name="clipboard"></ion-icon>
          <span>{{ ($item | async)?.Writer }}</span>
        </div>
        <div fxLayoutGap="10px">
          <ion-icon name="contact"></ion-icon>
          <span>{{ ($item | async)?.Actors }}</span>
        </div>
      </div>

    </div>
  </div>


</ion-content>